<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Gym</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav class="nav">
   <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/classes">Classes</a></li>
        {{#if loggedIn}}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/cart">Your Cart</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
        {{/if}}
        <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>

  {{{body}}}
</body>
</html>