
<div id="cart">
  <h1>Your Cart</h1>
  <div id="list">
<ul>
        {{#each cartItems}}
        <li>
    <h2>{{this.className}}</h2>
        </li>
            
        {{/each}}
    </ul>
  </div>
    
</div>
