{{!-- Index --}}
{{! Display available classes as cards }}

<div class="container">
  <img src="https://images.hdqwalls.com/wallpapers/fitness-gym-girl-nb.jpg" height="790px" width="100%">
  <div class="welcome">Welcome to our fitness studio</div>
</div>



